{% extends 'base.html' %} 
{% load static %} 
{% block title %} 
{% endblock title %} 
{% block content %}
<!-- {{hello}}
<br />
{{user}}  -->
<div class="open">
  <div class="layer"></div>
  <div class="layer"></div>
</div>
<section>
  <div class="bannerText">
    <h2>Think Creative</h2>
    <h3>And Make Innovative Design</h3>
    <p>
      We need more light about each other.Light creates understanding,
      understanding creates love, love creates patience, and patience creates
      unity
    </p>
    <a href="#">Read More</a>
  </div>
  <img src='{% static "buld.jpg" %}' class="bulb" />
</section>

{% endblock content %} 
{% block scripts %}
<script>
  $(document).ready(function () {
    console.log("working");
  });
</script>
{% endblock scripts %}
