<!-- {% url 'home-view' as path_to_home %} 
{% url 'posts:main-post-view' as path_to_posts %} 
{% url 'profiles:my-profile-view' as path_to_my_profile %} 
{% url 'profiles:my-invites-view' as path_to_my_invites %} 
{% url 'profiles:invite-profiles-view' as path_to_invites %} 
{% url 'profiles:all-profiles-view' as path_to_all_profiles %}


<div class="header">
  <a
    href="{{path_to_home}}"
    class="{% if request.path == path_to_home %}active{% endif %}"
    id="logo">
    <h3>bffbook</h3>
  </a>
  {% if request.user.is_authenticated %}
    <a href="{{path_to_posts}}" class="{% if request.path == path_to_posts %}active{% endif %}">
      <h3>Board</h3>
    </a>
  {% endif %}
  <div class="menu-toggle"></div>
    <nav>
      <ul>
        {% if request.user.is_authenticated %}
          <li>
            <div class="ui floating dropdown icon button teal" id="friend_list">
              Friends
              <i class="dropdown icon"></i>
              <div class="menu">
                <a href="{{path_to_all_profiles}}"
                  class="{% if request.path == path_to_all_profiles %}active{% endif %} item">
                  All Profiles
                </a>
            <a href="{{path_to_invites}}"
              class="{% if request.path == path_to_invites %}active{% endif %} item">
              Send Invites
            </a>
            <a
              href="{{path_to_my_invites}}"
              class="{% if request.path == path_to_my_invites %}active{% endif %} item"
            >
              Received Invites &nbsp;
              <div class="ui purple horizontal label">{{invites_num}}</div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <form action="" method="GET">
          <div class="ui action left icon input">
            <input
              class="prompt"
              type="text"
              name="q"
              id="search_here"
              placeholder="name of a friend..."
            />
            <i class="search icon"></i>
            <button type="submit" class="ui button">Search</button>
          </div>
        </form>
      </li>
      <li>
        <a href="{{path_to_my_profile}}" class="{% if request.path == path_to_my_profile %}active{% endif %}">
          <img src="{{picture.url}}" class="ui avatar image" id="profile_pic" />&nbsp; {{ request.user }}
        </a>
      </li>
      <li> 
        <a href="{% url 'account_logout' %}"> Logout </a>
        {% else %}
        <a href="{% url 'account_login' %}"> Login </a>
        {% endif %}
      </li>
    </ul>
  </nav>
  <div class="clearfix"></div>
</div> -->

{% url 'home-view' as path_to_home %}
{% url 'posts:main-post-view' as path_to_posts %}
{% url 'profiles:my-profile-view' as path_to_my_profile %}
{% url 'profiles:my-invites-view' as path_to_my_invites %}
{% url 'profiles:invite-profiles-view' as path_to_invites %}
{% url 'profiles:all-profiles-view' as path_to_all_profiles %}



<div class="wrapper">
  <div class="header">
    <div class="header-menu">
      <div class="title"><a href="{{path_to_home}}">Blog<span>Book</span></a></div>
      {% if request.user.is_authenticated %}
        <div class="sidebar-btn">
          <i class="fa fa-bars"></i>
        </div>
        <ul>
          <li>
            <form action="" method="GET">
              <div class="ui action left icon input">
                <input class="prompt" type="text" name="q" id="search_here" placeholder="name of a friend..." />
                <i class="search icon"></i>
                <button type="submit" class="ui button">Search</button>
              </div>
            </form>
          </li>
          <li>
            <a href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i></a>
            {% else %}
            <a href="{% url 'account_login' %}"><i class="fa fa-sign-in"></i></a>
          </li>
          
        </ul>
      {% endif %}
    </div>
  </div>
  <!------------------------Side Bar Start------------------------------>
  {% if request.user.is_authenticated %}
  <div class="sidebar"> 
    <div class="sidebar-menu">
      <center class="profile">
        <img src="{{picture.url}}" alt="">
          <p>{{ request.user }}</p> 
      </center>
      <li class="item">
        <a href="{{path_to_posts}}" class="menu-btn">
          <i class="fa fa-desktop"></i><span>Posts</span>
        </a>
      </li>
      <li class="item" id="friend">
        <a href="#friend" class="menu-btn">
          <i class="fa fa-handshake-o" aria-hidden="true"></i><span>Friends<i class="fa fa-chevron-down drop-down"></i></span>
        </a>
        <div class="sub-menu">
          <a href="{{path_to_all_profiles}}"><i class="fa fa-address-card-o" aria-hidden="true"></i><span>All Profile</span></a>
          <a href="{{path_to_invites}}"><i class="fa fa-paper-plane" aria-hidden="true"></i><span>Send Invites</span></a>
          <a href="{{path_to_my_invites}}"><i class="fa fa-reply" aria-hidden="true"></i><span>Received &nbsp;</span>
            <div class="ui blue horizontal label">{{invites_num}}</div>
          </a>
        </div>
      </li>
    </div>
  </div>
  {% endif %}
  <!-----------------------Side Bar End------------------------------------------------>
</div>