* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  min-height: 100vh;
}
.wrapper .header {
  z-index: 1;
  background: #22242a;
  position: fixed;
  width: calc(100% - 0%);
  height: 70px;
  display: flex;
  top: 0;
}
.wrapper .header .header-menu {
  width: calc(100% - 0%);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.wrapper .header .header-menu .title {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
}

.wrapper .header .header-menu .title span {
  color: #03a9f4;
}

.wrapper .header .header-menu .sidebar-btn {
  color: #fff;
  position: absolute;
  margin-left: 170px;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
  transition-property: color;
}
.wrapper .header .header-menu .sidebar-btn:hover {
  color: #03a9f4;
}

.wrapper .header .header-menu ul {
  display: flex;
}
.wrapper .header .header-menu ul li a {
  background: #fff;
  color: #000;
  display: block;
  margin: 0 10px;
  font-size: 18px;
  width: 34px;
  height: 34px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  transition-property: background, color;
}
.wrapper .header .header-menu ul li a:hover {
  background: #03a9f4;
  color: #fff;
}
.wrapper .sidebar {
  z-index: 1;
  background: #2f323a;
  position: fixed;
  top: 70px;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.3s;
  transition-property: width;
  overflow-y: auto;
}
.wrapper .sidebar .sidebar-menu {
  overflow: hidden;
}
.wrapper .sidebar .sidebar-menu .profile img {
  margin: 20px 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.wrapper .sidebar .sidebar-menu .profile p {
  color: #bbb;
  font-weight: 700;
  margin-bottom: 10px;
}
.wrapper .sidebar .sidebar-menu .item {
  width: 250px;
  overflow: hidden;
}
.wrapper .sidebar .sidebar-menu .item .menu-btn {
  display: block;
  color: #fff;
  position: relative;
  padding: 25px 20px;
  transition: 0.3s;
  transition-property: color;
}
.wrapper .sidebar .sidebar-menu .item .menu-btn:hover {
  color: #03a9f4;
}
.wrapper .sidebar .sidebar-menu .item .menu-btn i {
  margin-right: 20px;
}
.wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down {
  float: right;
  font-size: 12px;
  margin-top: 3px;
}
.wrapper .sidebar .sidebar-menu .item .sub-menu {
  background: #3498d8;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s;
  transition-property: background, max-height;
}
.wrapper .sidebar .sidebar-menu .item .sub-menu a {
  display: block;
  position: relative;
  color: #fff;
  white-space: nowrap;
  font-size: 15px;
  padding: 20px;
  border-bottom: 1px solid #8fc5e9;
  transition: 0.3s;
}
.wrapper .sidebar .sidebar-menu .item .sub-menu a:hover {
  background: #03a9f4;
}
.wrapper .sidebar .sidebar-menu .item .sub-menu i {
  padding-right: 20px;
  font-size: 10px;
}
.wrapper .sidebar .sidebar-menu .item:target .sub-menu {
  max-height: 500px;
}

.wrapper.collapse .sidebar {
  width: 0;
}

.open {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 10000;
}

.open .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: top;
  animation: open 1s ease-in-out forwards;
}

.open .layer:nth-child(1) {
  background: #000;
  z-index: 2;
}

.open .layer:nth-child(2) {
  background: #03a9f4;
  animation-delay: 1s;
  z-index: 1;
}

@keyframes open {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

section {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
}

.bannerText {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 700px;
}

.bannerText h2,
.bannerText h3 {
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-block;
  transform-origin: left;
  text-transform: uppercase;
  transform: scaleX(0);
  animation: revealTextReverse 1s ease-in-out forwards;
}

.bannerText h2 {
  font-size: 3em;
  animation-delay: 2s;
}
.bannerText h3 {
  font-size: 2em;
  animation-delay: 3s;
}

.bannerText h2::before,
.bannerText h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  transform-origin: right;
  animation: revealText 1s ease-in-out forwards;
  animation-delay: 3s;
}
.bannerText h3::before {
  animation-delay: 4s;
}

@keyframes revealText {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes revealTextReverse {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.bannerText p {
  opacity: 0;
  font-weight: 400;
  font-size: 1.2em;
  animation: fadeIn 1s linear forwards;
  animation-delay: 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bannerText a {
  opacity: 0;
  display: inline-block;
  margin: 20px 0 0;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 1px;
  animation: fadeInBottom 0.5s linear forwards;
  animation-delay: 5.5s;
}
@keyframes fadeInBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.bulb {
  opacity: 0;
  position: absolute;
  right: 25%;
  top: 50%;
  width: 500px;
  transform: translateY(-50%);
  animation: fadeIn 1s linear forwards;
  animation-delay: 6s;
}

.nav {
  border-radius: 0px !important;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: rgb(8, 8, 8) !important;
}
.nav a {
  color: #fff;
  display: inline-block;
}
.nav a:last-child {
  padding: 10px;
  padding-top: 7px;
}
.nav a:nth-child(3) {
  padding: 10px;
  padding-top: 5px;
}
.mb-7 {
  margin-bottom: 7px !important;
}

.mt-5 {
  margin-top: 5px !important;
}
.mt-35 {
  margin-top: 35px !important;
}
.mymodal {
  height: 300px !important;
  top: 200px !important;
  font-size: 20px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.w-big {
  width: 200px !important;
}

.bwhite-lg {
  background-color: transparent !important;
}

.bwhite-sm {
  background-color: transparent !important;
  width: 10px !important;
}

.comment-box {
  display: none;
}
#profile_pic {
  margin-left: 10px;
}

@media (max-width: 1280px) {
  section {
    height: auto !important;
    display: initial;
    padding: 100px;
    box-sizing: border-box;
  }
  .bannerText {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 100px;
    transform: translateY(0);
    max-width: 700px;
    z-index: 1001;
  }
}

.fa {
  font-size: 24px;
}

.sign-in {
  width: 340px;
  height: 645px;
  padding: 15px 17px 15px 14px;
  box-shadow: inset -8px -8px 8px 0 rgba(174, 174, 192, 0.25),
    inset 8px 8px 8px 0 #fff, -8px -8px 24px 0 #fff,
    8px 8px 24px 0 rgba(174, 174, 192, 0.4);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  background: #f0f0f3;
  box-sizing: border-box;
  z-index: 1;
  overflow: hidden;
}
.main-page {
  width: 100%;
  height: 50%;
  background-image: url("https://images.unsplash.com/photo-1461723198950-3f65e13bb031?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTN8fHJvYWR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60");
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0% 0% 50% 50%/ 0% 0% 30% 30%;
}

.sign-in-page,
.sign-up-page {
  width: 100%;
  height: 54%;
}

.cancel {
  position: absolute !important;
  left: 50% !important;
  bottom: -25px !important;
  transform: translateX(-50%) !important;
  width: 50px !important;
  height: 50px !important;
  background: #f8f8f8 !important;
  font-size: 1.2rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 50% !important ;
  box-sizing: -2px -2px 10px 0 #fff, 2px 2px 10px 0 rgba(174, 174, 192, 0.4) !important;
}
.cancel a i {
  color: #111;
}
.sign-in-page form,
.sign-up-page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.sign-in-page input,
.sign-up-page input {
  width: 245px !important;
  height: 40px !important;
  /* margin: 10px 0px !important; */
  background: transparent !important;
  border: none !important;
  outline: none !important;
  color: #191919 !important;
  border-radius: 10px !important;
  box-shadow: -4px -4px 10px 0 #fff, 4px 4px 10px 0 rgba(174, 174, 192, 0.4) !important;
  padding: 0px 5px !important;
}
.sign-in-page label,
.sign-up-page label {
  display: none;
}
.sign-in-page #id_remember,
.sign-up-page #id_remember {
  display: none;
}
.sign-in-page input::placeholder,
.sign-up-page input::placeholder {
  letter-spacing: 1px;
  font-size: 14px;
}
.sign-in-page button,
.sign-up-page button {
  width: 220px !important;
  height: 40px !important;
  margin: 10px 0px !important;
  border-radius: 20px !important;
  border: none !important;
  background: #fff !important;
  box-shadow: 4px -4px 10px 0 #fff, 4px 4px 10px 0 rgba(174, 174, 192, 0.4) !important;
  color: #000 i !important;
  margin-bottom: 60px;
  outline: none;
}
.sign-in-page button:hover,
.sign-up-page button:hover {
  background: #ff8111 !important;
  color: #fff !important;
  transition: all ease 0.3s !important;
  outline: none;
  border: none;
}

.sign-in-page input:focus,
.sign-up-page input:focus {
  box-shadow: inset 4px -4px 10px 0 #fff,
    inset 4px 4px 10px 0 rgba(174, 174, 192, 0.4) !important;
}
.sign-in-page,
.cancel,
.sign-up-page {
  display: none !important;
}

.main-page {
  height: 100% !important;
  border-radius: 20px !important;
}
.name {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  text-align: center !important;
  color: #fff !important;
}
.name h1 {
  font-size: 2.5rem !important;
  color: #f8f8f8 !important;
  margin: 0px !important;
  letter-spacing: 2px !important;
}
.form-btns {
  position: absolute !important;
  left: 50% !important;
  bottom: 40px !important;
  transform: translateX(-50%) !important;
  text-align: center !important;
}
.s-btn {
  width: 230px;
  height: 42px;
  margin: 5px 0px;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  background: #fff;
  color: #000;
}

.form-btns a {
  color: #fff;
  letter-spacing: 1px !important;
  text-decoration: none !important;
}
button:active {
  transform: scale(1.05) !important;
  outline: none !important;
}

.active-sign-in .form-btns,
.active-sign-up .form-btns {
  display: none !important;
}

.active-sign-in .main-page,
.active-sign-up .main-page {
  height: 36% !important;
  border-radius: 5% 5% 50% 50%/5% 5% 20% 20% !important;
  animation: animation1 0.2s linear !important;
  transition: 1s linear !important;
}
.active-sign-in .sign-in-page,
.active-sign-in .cancel {
  display: flex !important;
}
.active-sign-up .sign-in-page,
.active-sign-up .cancel {
  display: flex !important;
}
.active-sign-in .cancel i,
.active-sign-up .cancel i {
  animation: cancel 0.5s linear !important;
  transition: 2s linear !important;
}

@keyframes animation1 {
  0% {
    height: 100% !important;
  }
  100% {
    height: 55% !important;
  }
}

@keyframes cancel {
  0% {
    opacity: 0 !important;
    transform: rotate(-190deg) !important;
  }
  100% {
    opacity: 1 !important;
    transform: rotate(0deg) !important;
  }
}
