body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.open {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 10000;
}

.open .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: top;
  animation: open 1s ease-in-out forwards;
}

.open .layer:nth-child(1) {
  background: #000;
  z-index: 2;
}

.open .layer:nth-child(2) {
  background: #03a9f4;
  animation-delay: 1s;
  z-index: 1;
}

@keyframes open {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

section {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
}

.bannerText {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  max-width: 700px;
}

.bannerText h2,
.bannerText h3 {
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-block;
  transform-origin: left;
  text-transform: uppercase;
  transform: scaleX(0);
  animation: revealTextReverse 1s ease-in-out forwards;
}

.bannerText h2 {
  font-size: 3em;
  animation-delay: 2s;
}
.bannerText h3 {
  font-size: 2em;
  animation-delay: 3s;
}

.bannerText h2::before,
.bannerText h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  transform-origin: right;
  animation: revealText 1s ease-in-out forwards;
  animation-delay: 3s;
}
.bannerText h3::before {
  animation-delay: 4s;
}

@keyframes revealText {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes revealTextReverse {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.bannerText p {
  opacity: 0;
  font-weight: 400;
  font-size: 1.2em;
  animation: fadeIn 1s linear forwards;
  animation-delay: 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bannerText a {
  opacity: 0;
  display: inline-block;
  margin: 20px 0 0;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 1px;
  animation: fadeInBottom 0.5s linear forwards;
  animation-delay: 5.5s;
}
@keyframes fadeInBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.bulb {
  opacity: 0;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  animation: fadeIn 1s linear forwards;
  animation-delay: 6s;
}

.nav {
  border-radius: 0px !important;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: rgb(8, 8, 8) !important;
}
.nav a {
  color: #fff;
  display: inline-block;
}
.nav a:last-child {
  padding: 10px;
  padding-top: 7px;
}
.nav a:nth-child(3) {
  padding: 10px;
  padding-top: 5px;
}
.mb-7 {
  margin-bottom: 7px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mymodal {
  height: 300px !important;
  top: 200px !important;
  font-size: 20px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.w-big {
  width: 200px !important;
}

.bwhite-lg {
  background-color: transparent !important;
}

.bwhite-sm {
  background-color: transparent !important;
  width: 10px !important;
}

.comment-box {
  display: none;
}
#profile_pic {
  margin-left: 10px;
}

@media (max-width: 1280px) {
  section {
    height: auto !important;
    display: initial;
    padding: 100px;
    box-sizing: border-box;
  }
  .bannerText {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 100px;
    transform: translateY(0);
    max-width: 700px;
    z-index: 1001;
  }
}

@media (max-width: 990px) {
  .bannerText h2 {
    font-size: 2.5em;
  }
  .bannerText h3 {
    font-size: 1.5em;
  }
  .navbar {
    position: relative;
  }
  #nav {
    background-color: #2196f3;
    z-index: 1010;
    height: 30vh;
    width: 100%;
    top: 0;
  }
  .prompt {
    width: 100%;
    padding-top: 30px;
    margin-right: 50px;
  }
  #sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  #searchbar {
    order: 2;
    width: 100%;
    margin-right: 55%;
    padding-bottom: 10px;
  }
  #friend_list {
    order: 3;
    width: 100%;
    margin-right: 55%;
    padding-left: 20px;
  }
  #friend_list i {
    padding-left: 70%;
  }
  #options {
    order: 1;
    color: #03a9f4;
  }
  #options a {
    color: #03a9f4;
  }
  #profile_pic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 70px;
    margin-bottom: 30px;
  }
  #nav h3 {
    color: #03a9f4;
    margin-bottom: 100px;
  }
}
@media (max-width: 705px) {
  #nav {
    width: 100%;
  }
  #friend_list {
    order: 2;
    width: 100%;
  }
  #friend_list i {
    padding-left: 70%;
  }
  #searchbar {
    order: 3;
    padding-top: 10px;
    width: 100%;
    margin-right: 60%;
  }
}
